html {
    height: 100%;
    width: 100%;
}

body {
    background-image: url(../img/mapa.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100%;
    width: 100%; */
}